<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .nav-link {
        margin-right: 80px;
    }

    .logo {
        height: 40px;
        vertical-align: middle;
    }

    .bg-dark {
        background-color: black !important;
    }
  </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="logo" src="/logo/1519457540714.jpg">
    </a>
    <a class="navbar-brand" href="/">Trang chủ</a>
    <a class="navbar-brand" href="javascript:void(0);" th:onclick="'openRecommendPage()'">Gợi ý sản phẩm</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" th:if="${session.loggedInUser == null}">
          <a class="nav-link" href="/login">Đăng nhập</a>
        </li>
        <li class="nav-item dropdown" th:if="${session.loggedInUser != null}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span th:text="${session.loggedInUser.username}">Tên người dùng</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Hồ sơ</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <form action="/logout" method="post">
                <button type="submit" class="dropdown-item">Đăng xuất</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script th:inline="javascript">
    /*<![CDATA[*/
    var loggedInUser = /*[[${session.loggedInUser != null}]]*/ false;
    var userId = /*[[${session.loggedInUser != null} ? ${session.loggedInUser.id} : '']]*/ '';
    function openRecommendPage() {
      if (!loggedInUser) {
        window.location.href = '/login';
      } else {
        window.location.href = '/recommendations?user_id=' + userId;
      }
    }
    /*]]>*/
  </script>
</body>
</html>



