<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <h1 class="text-center">Đăng ký</h1>
            <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="form-group">
                    <label for="username">Tài khoản:</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" />
                    <div th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></div>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" />
                    <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></div>
                </div>
                <div class="form-group">
                    <label for="favoriteCategories">Loại sản phẩm yêu thích:</label>
                    <div th:each="category : ${categories}">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" th:field="*{favoriteCategories}" th:value="${category}" />
                            <label class="form-check-label" th:text="${category}"></label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Đăng ký</button>
                <a href="/login">Bạn đã có tài khoản? Chuyển sang trang đăng nhập</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
